/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 20px;
    padding-bottom: 20px;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}



.sticky-menu-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -130px;
    width: 200px;
}

    .sticky-menu-bar a {
        display: block;
        text-align: center;
        padding: 12px;
        transition: all 0.2s ease;
        color: white;
        font-size: 18px;
        transform: rotate(-90deg);
    }

        .sticky-menu-bar a:hover {
            background-color: #000;
        }

.Tickets {
    background: #3B5998;
    height: 135px;
    color: white;
}


.container-fluid{  
    max-width: 1900px;
   
}

#entire-page{
    width:100%; 
    margin: 0 auto;
}

#slideshow-images{

    width:98%;
    margin: 0 auto;

}

.training{

    text-align:center;
}

.title-text{
    text-align:center;
    font-weight:bold;
    
}

